<div class="container">
  <div class='row'>
    <div class="col-md-8 col-md-offset-2">
      <%= render 'refinery/home/carousel'%>
    </div>
  </div>
</div>
<hr></hr>
<div class="container">
  <div class="row"> 
      <%= render 'refinery/home/subcontent' %>
  </div>
</div>
<hr></hr>
<div class="container ">
  <div class="row">
    <%=raw @page.content_for(:blog) %>
  </div>
</div>
