<%= render 'refinery/home/carousel'%>
  

<div class="container marketing">

  <%= render 'refinery/home/subcontent' %>

  <hr class="featurette-divider" />
  <div class="row featurette">
    <%=raw @page.content_for(:blog) %>
  </div>
</div>

