<div class="container">
  <div class="col-md-5">
     <%=raw @page.content_for(:body) %>
  </div>
  <div class="col-md-3 col-md-offset-4">
    <h3>Find us Here</h3>
      <iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=16.728687,-169.534174&amp;num=1&amp;t=h&amp;ie=UTF8&amp;z=14&amp;output=embed"></iframe>
  </div>
</div>