<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%=image_tag @page.images.first.url(),class: 'inner-item img-primary'%>
      <div class="carousel-caption">
        <%=@page.images.first.image_name%>
      </div>
    </div>
    <% (2..3).each do|x| carousel= @page.images.find(x)%>
    <div class="item ">
     <%=image_tag carousel.url(),class: 'inner-item img-primary'%>
      <div class="carousel-caption">
        <%=carousel.image_name%>
      </div>
    </div>
    <%end%>
  </div>
  <button class="left carousel-control" href="#myCarousel" data-slide="prev" >
    <span class="glyphicon glyphicon-circle-arrow-left"> </span> 
  </button>
  <button class="right carousel-control" href="#myCarousel" data-slide="next" >
    <span class="glyphicon glyphicon-circle-arrow-right"></span>
  </button>
</div>
