<div class="row">
  <div class="col-lg-4">
    <section >
      <%= raw @page.content_for(:subcontent1) %>
    </section>
  </div>
  <div class="col-lg-4 ">
    <section >
      <%= raw @page.content_for(:subcontent2) %>
    </section>
  </div>
  <div class="col-lg-4 ">
    <section>
      <%= raw @page.content_for(:subcontent3) %>
    </section>
  </div>
</div>


