<h3>Contact us</h3>
<table>
<tr><td>Phone</td><td>: <%= copywriting('phone') %></td</tr>
<tr><td>Address</td><td>: <%= copywriting('address') %></td</tr>
<tr><td>Email</td><td>: <%= copywriting('email') %></td</tr>
</table>