<li class="<%= nav_active_class(root_path) %>"><a href=<%= root_path %>><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li class=""><a href="#"><span class="glyphicon glyphicon-cutlery"></span> Gallery</a></li>
<li class=""><a href="#"><span class="glyphicon glyphicon-user"></span> About</a></li>
<li class=""><a href="#"><span class="glyphicon glyphicon-book"></span> Contact Us</a></li>