<nav>

<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-text pull-left">~Restoran Terserah~</p>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <div class="collapse navbar-collapse lyphicon glyphicon-align-justify">
  <%= RestoTerserahMenuPresenter.new(refinery_menu_pages, self).to_html %>
          </div>
        </div> 
      </div>
    </div> 
  </div>  
</div>
</nav>
