.img-thumb {
  width: 150px;
  height: 150px;
}
.img-medium {
  width: 350px;
  height: 350px;
}
.img-primary{
 margin-left: auto ;
 margin-right: auto ;
  width:800px;
  max-height:400px;
  height:400px;
}
.carousel{
  margin-bottom: 40px;
  
}
.dropdown:hover .dropdown-menu {
    display: block;
 }
 